:root {
    --header-height: 80px;
    --logo-width: 60px;
    --color-txt-main: #000000;
    --color-txt-gray: #6c6c6c;
    --color-main: #5d9c59;
    --color-white: #ffffff;
    --color-gray-bg: #f4f4f4;
    --container-max-width: 1300px;
}

/* global css */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--color-white);
}

img {
    max-width: 100%;
}

.logo img {
    width: 9rem;
}

a {
    color: unset;
}

a:hover {
    max-width: var(--container-max-width);
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    border: none;
    outline: none;
    padding: 1rem 2.5rem;
    background-color: var(--color-main);
    color: var(--color-white);
    cursor: pointer;
    font-weight: bold;
}

.no-margin {
    margin: 0 !important;
}

section {
    margin-bottom: 9rem;
}

.section__title {
    margin-bottom: 2rem;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 1.7rem;
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* global css */

/* header */
header {
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header__content {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62.35%;
    position: relative;
    margin: 5px auto;
}

.header__logo {
    width: var(--logo-width);
    height: var(--logo-width);
}

.header__content nav ul,
.header__menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content nav ul li:not(:first-child),
.header__menu ul li:not(:first-child) {
    margin-left: 30px;
}

.header__content nav ul li,
.header__menu ul {
    text-transform: uppercase;
    font-weight: 600;
}


/* header */